.root {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sections-grid {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 20px;
}